        // /* animación vibrato */
        @mixin vibrating-animation {
          $duration: 1.1s;
          @keyframes vibrating {
            10% {
              background-color: var(--hover-color-button);
              box-shadow: 0px 0px 0px 2px var(--hover-color-button);
            }
            25% {
              background-color: var(--hover-color-button);
              box-shadow: none;
            }
            35% {
              background-color: var(--hover-color-button);
              box-shadow: 1px 0px 0px 1.5px var(--hover-color-button);
            }
            100% {
              background-color: var(--hover-color-button);
            }
          }
          animation: vibrating $duration;
        }
        // /* animación resorte */
        @mixin spring-animation {
          $duration: 0.8s;
          @keyframes spring {
            10% {
              background-color: var(--hover-color-button);
              transform: scale(1.01);
              border-color: var(--hover-color-button);
            }
            25% {
              background-color: var(--hover-color-button);
              transform: scale(1.04);
              border-color: var(--hover-color-button);
            }
            35% {
              background-color: var(--hover-color-button);
              transform: scale(1.01);
              border-color: var(--hover-color-button);
            }
            45% {
              background-color: var(--hover-color-button);
              border-color: var(--hover-color-button);
            }
            55% {
              background-color: var(--hover-color-button);
              transform: scale(1.04);
              border-color: var(--hover-color-button);
            }
            65% {
              background-color: var(--hover-color-button);
              border-color: var(--hover-color-button);
            }
            100% {
              background-color: var(--hover-color-button);
              border-color: var(--hover-color-button);
            }
          }
          animation: spring $duration;
        }
