/* Sección relacionada a las cards grandes y pequeñas */
@import "generales";
@import "mixins";

section.main-container_div {
  position: relative;
  // @media queries 2rem
  padding-top: 3rem;
  // @media queries 2rem
  padding-bottom: 3rem;
  width: 100%;
  scroll-margin-top: 120px;
  div.dimensions-container_div {
    // @media queries max-width: 96%; margin-left: auto; margin-right: auto;
    max-width: 71.5rem;
    margin-left: auto;
    margin-right: auto;
    div.grid-container_h2-div-a {
      display: grid;
      justify-items: start;
      grid-template-columns: repeat(1, 1fr);
      // @media queries gap: 1.5rem;
      gap: 2rem;
      h2.letters_news-content {
        font-weight: 700;
        margin-block: 0;
        line-height: 1.35;
        // @media queries font-size: $font-size-l);
        font-size: $font-size-xl;
      }
      div.grid-items-container_6div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        // @media queries gap: 1.5rem;
        gap: 2rem;
        div.grid-item_bigcard1 {
          display: grid;
          grid-column: 1 / 3;
          div.flex-container_a-div {
            height: 100%;
            display: flex;
            flex-direction: column;
            -webkit-box-pack: end;
            justify-content: flex-end;
            position: relative;
            background-color: $font-color-main; // $color-white
            border-radius: 0.25rem;
            a.flex-item_2div {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              color: $font-color-main;
              position: relative;
              margin-top: 0px;
              border-radius: 0.25rem;
              div.container-mkt-tour_img {
                width: 100%;
                height: 50%;
                border-top-left-radius: 0.25rem;
                border-top-right-radius: 0.25rem;
                overflow: hidden;
                flex-shrink: 0;
                img.avif-content {
                  width: 100%;
                  height: 100%;
                }
              }
              div.container_div {
                border-bottom-left-radius: 0.25rem;
                border-bottom-right-radius: 0.25rem;
                padding-top: 1rem;
                position: relative;
                -webkit-box-flex: 1;
                flex-grow: 1;
                background-color: $color-white;
                div.flex-container_p-div-p-div {
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  -webkit-box-pack: justify;
                  justify-content: space-between;
                  p.period-date {
                    // @media queries (min-width: 429px;) { font-size: 1rem; margin: 0rem 0rem 1rem; }
                    font-size: $font-size-s;
                    font-weight: 300;
                    margin: 0rem 0rem 0.5rem 0rem;
                  }
                  div.container_h3 {
                    -webkit-text-decoration: none;
                    text-decoration: none;
                    display: block;
                    position: relative;
                    margin-bottom: 0.5rem;
                    height: 4rem;
                    h3.letters_info-content {
                      // @ media queries (mind-width: 429px) { font-size: $font-size-ml; margin: 0; }
                      font-size: $font-size-m;
                      font-weight: 700;
                      margin: 0;
                      -webkit-line-clamp: 2;
                      -webkit-box-orient: vertical;
                      overflow: hidden;
                    }
                  }
                  p.letters_article-content {
                    font-size: 0.875rem;
                    margin: 0rem 0rem 0.5rem 0rem;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    height: calc(1.4 * 2em);
                  }
                  div.grid-container_span {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    margin-bottom: 0.5rem;
                    height: 1.5rem;
                    span.read-more {
                      // hovered?
                      text-align: left;
                      color: $color-button;
                      padding: 0px;
                      width: fit-content;
                      // @ media queries (min-width: 429px) {font-size: $font-size-m;}
                      font-size: 0.875rem;
                      font-weight: 700;
                      cursor: pointer;
                      padding-bottom: 0;
                      position: relative;
                      border-bottom-width: 2px;
                      border-bottom-style: solid;
                      border-bottom-color: $color-button;
                      margin: 0;
                    }
                  }
                }
              }
            }
            div.flex-container_empty {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              border-radius: 0.25rem;
              transition: opacity 200ms ease-in-out 0ms;
              opacity: 0;
              position: absolute;
              left: 0px;
              bottom: 0px;
              z-index: 5;
              pointer-events: none;
            }
          }
        }
        div.grid-item_bigcard2 {
          display: grid;
          grid-column: 3 / 5;
          div.flex-container_a-div {
            height: 100%;
            display: flex;
            flex-direction: column;
            -webkit-box-pack: end;
            justify-content: flex-end;
            position: relative;
            background-color: $font-color-main; // $color-white
            border-radius: 0.25rem;
            a.flex-item_2div {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              color: $font-color-main;
              position: relative;
              margin-top: 0px;
              border-radius: 0.25rem;
              div.container-mkt-tour_img {
                width: 100%;
                height: 50%;
                border-top-left-radius: 0.25rem;
                border-top-right-radius: 0.25rem;
                overflow: hidden;
                flex-shrink: 0;
                img.avif-content {
                  width: 100%;
                  height: 100%;
                }
              }
              div.container_div {
                border-bottom-left-radius: 0.25rem;
                border-bottom-right-radius: 0.25rem;
                padding-top: 1rem;
                position: relative;
                -webkit-box-flex: 1;
                flex-grow: 1;
                background-color: $color-white;
                div.flex-container_p-div-p-div {
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  -webkit-box-pack: justify;
                  justify-content: space-between;
                  p.period-date {
                    // @media queries (min-width: 429px;) { font-size: 1rem; margin: 0rem 0rem 1rem; }
                    font-size: $font-size-s;
                    font-weight: 300;
                    margin: 0rem 0rem 0.5rem 0rem;
                  }
                  div.container_h3 {
                    -webkit-text-decoration: none;
                    text-decoration: none;
                    display: block;
                    position: relative;
                    margin-bottom: 0.5rem;
                    height: 4rem;
                    h3.letters_info-content {
                      // @ media queries (mind-width: 429px) { font-size: $font-size-ml; margin: 0; }
                      font-size: $font-size-m;
                      font-weight: 700;
                      margin: 0;
                      -webkit-line-clamp: 2;
                      -webkit-box-orient: vertical;
                      overflow: hidden;
                    }
                  }
                  p.letters_article-content {
                    font-size: 0.875rem;
                    margin: 0rem 0rem 0.5rem 0rem;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    height: calc(1.4 * 2em);
                  }
                  div.grid-container_span {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    margin-bottom: 0.5rem;
                    height: 1.5rem;
                    span.read-more {
                      // hovered?
                      text-align: left;
                      color: $color-button;
                      padding: 0px;
                      width: fit-content;
                      // @ media queries (min-width: 429px) {font-size: $font-size-m;}
                      font-size: 0.875rem;
                      font-weight: 700;
                      cursor: pointer;
                      padding-bottom: 0;
                      position: relative;
                      border-bottom-width: 2px;
                      border-bottom-style: solid;
                      border-bottom-color: $color-button;
                      margin: 0;
                    }
                  }
                }
              }
            }
            div.flex-container_empty {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              border-radius: 0.25rem;
              transition: opacity 200ms ease-in-out 0ms;
              opacity: 0;
              position: absolute;
              left: 0px;
              bottom: 0px;
              z-index: 5;
              pointer-events: none;
            }
          }
        }
        div.flex-item_minicard3 {
          height: 100%;
          display: flex;
          flex-direction: column;
          -webkit-box-pack: end;
          justify-content: flex-end;
          position: relative;
          border-radius: 0.25rem;
        }
        div.flex-item_minicard4 {
          height: 100%;
          display: flex;
          flex-direction: column;
          -webkit-box-pack: end;
          justify-content: flex-end;
          position: relative;
          border-radius: 0.25rem;
        }
        div.flex-item_minicard5 {
          height: 100%;
          display: flex;
          flex-direction: column;
          -webkit-box-pack: end;
          justify-content: flex-end;
          position: relative;
          border-radius: 0.25rem;
        }
        div.flex-item_minicard6 {
          height: 100%;
          display: flex;
          flex-direction: column;
          -webkit-box-pack: end;
          justify-content: flex-end;
          position: relative;
          border-radius: 0.25rem;
        }
      }
      a.flex-container_div-img-span {
        // @media queries font-size: 1rem; width: 100%;
        position: relative;
        margin: 0px;
        background-color: transparent;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        text-align: center;
        height: 3rem;
        cursor: pointer;
        font-weight: 700;
        font-size: $font-size-m;
        white-space: nowrap;
        border: unset;
        padding: 0px 1.5rem;
        width: auto;
        color: $color-white;
        div.button_color {
          position: absolute;
          box-sizing: content-box;
          display: block;
          content: "";
          border-width: 1px;
          border-style: solid;
          border-color: $color-button;
          background-color: $color-button;
          height: calc(100% - 2px);
          width: calc(100% - 2px);
          top: 0px;
          left: 0px;
          padding: 0px;
          border-radius: 0.25rem;
          transform: none;
          &:hover {
            @include spring-animation;
            background-color: $hover-color-button;
            border-color: $hover-color-button;
          }
          &:active {
            transform: scale(1);
          }
        }
        img.svg_info-icon {
          display: flex;
          width: auto;
          // @media queries height: 1.125rem;
          height: 1.25rem;
          z-index: 1;
          margin-left: 0px;
          margin-right: 1rem;
        }
        span.letters_enter-to-other-article {
          display: flex;
          font-size: 14px;
          font-weight: bold;
          z-index: 1;
          color: $color-white;
          pointer-events: none;
        }
      }
    }
  }
}
  @media (hover: hover) {
    .flex-container_a-div:hover h3.letters_info-content {
      color: $color-button;
    }
    .flex-container_a-div:hover div.container-mkt-tour_img {
      opacity: 0.3;
      transition: 0.3s;
    }
    .flex-container_a-div:hover .hovered {
      color: $hover-color-button !important;
      border-bottom-color: $hover-color-button !important;
    }
  }
