body {
    margin: 0;
  }
  
  .seccion--roja {
    background-color: #e60012;
    display: flex;
    gap: 60px;
    height: 125px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 40px;
  }
  
  .nintendo {
    flex-grow: 2;
  }
  
  .enlaces {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-family: "Monserrat", sans-serif;
    row-gap: 1rem;
    text-align: left;
    h2 {
      a {
        text-decoration: none;
        color: #484848;
        font-size: 18px;
        font-weight: 700;
      }
    }
    ul {
      list-style: none;
      padding: 0;
    }
    li {
      margin-bottom: 10px;
      a {
        text-decoration: none;
        color: #e60012;
        font-weight: bold;
      }
    }
  }
  
  @mixin enlaces($px: 1px, $color: #dadada) {
    border-left: $px solid $color;
    padding-left: 24px;
    font-size: 16px;
  }
  
  .about-nintendo {
    @include enlaces(0px, transparent);
    grid-row: span 2 / auto;
    padding-left: 55px;
  }
  
  .shop,
  .my-nintendo-store,
  .support {
    @include enlaces(1px);
    grid-row: span 2;
  }
  
  .parents,
  .comunity,
  .privacity {
    @include enlaces(1px);
  }
  
  .privacy-certified {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 50px;
    padding-top: 50px;
    img {
      font-weight: 65px;
      height: 90px;
      margin-right: 50px;
    }
  }
  
  .seccion--negra {
    background-color: #242424;
    /*padding: 30px 90px 30px 90px;*/
    font-family: "Monserrat", sans-serif;
    display: flex;
    align-items: baseline;
  }
  .copyright {
    color: #dbdbdb;
    font-size: 12px;
  }
  
  .legal {
    @extend .copyright;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      text-decoration: none;
      color: #dbdbdb;
      font-weight: 700;
      flex-grow: 2;
    }
  }