@mixin dflex ($a:none,$b:none,$c:none,$d:none){
    display: flex;
    flex-direction: $a;
    align-items: $b;
    justify-content: $c;
    gap: $d;
} 

@mixin fnt($x,$y,$z:inherit){
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: $x;
    font-weight: $y;
    color: $z;
} 

@mixin svg($aa,$bb){
    fill:$aa;
    width: $bb;
}