@import "variables","mixin";

html,
body {
    color: $font-color-main;
}

a {
    text-decoration: none;
    color: inherit;
}

.dsp-flx{
    @include dflex(row,center,center,$font-size-m);
}
.fnt{
    @include fnt($font-size-s,700,$font-color-main);
}

.nav{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;    
    z-index: 1000;
    >.nav-header{
        @include dflex(none,center,space-between);         
        height: 3.25rem;   
        border-bottom: 1px solid rgb(218, 218, 218);
        background-color: $color-white;
        >.header-left{
            >.logo{
                display: inline-flex;
                align-items: center;
                background-color: transparent;
                >.logo-1{
                    @include dflex(none,center,center);
                    width: 6.5625rem;
                    height: 3.25rem;
                    background-color: $color-button;
                    >.logo-1_svg{
                        @include svg($color-white,4.31rem);
                    }
                }
            }
            >.src{
                width:28.125rem;           
                >.frm{
                    @include dflex(none,center,space-between);                    
                    height: 2.125rem;
                    width: 100%;
                    font-size: $font-size-s;
                    border-bottom: 1px solid rgb(72, 72, 72);
                    cursor: pointer;
                    >.frm-1{
                        display: flex;                        
                        >.frm-1_button{
                            @include dflex(none,center,center);                           
                            height: 100%;
                            width: 100%;
                            padding: 0px;
                            background: none;
                            border: none;
                            color: rgb(114, 114, 114);
                            cursor: pointer;
                            transition: color 200ms ease-in-out 25ms;
                            >svg{
                                margin-right: 0.625rem;
                                @include svg($font-color-main,1.12rem);
                            }
                            >span{
                                @include fnt(none,none,rgb(114, 114, 114));
                                line-height: 1.5;
                                //cursor: pointer; 
                            }
                        }
                    }
                    .frm-2{
                        //span
                        //span
                        >.ctgrs{
                            @include dflex(none,center,center);
                            padding-right: $font-size-xs;
                            >.ctgrs-slct{
                                //div{}
                                >.ctgrs-slct_select{
                                    appearance: none;
                                    border: none;
                                    outline: none;
                                    @include fnt($font-size-s,bold);
                                }
                                //select:before{}
                            }
                            >.ctgrs-svg{
                                @include dflex(none,center,space-between);
                                svg{
                                    @include svg($font-color-main,$font-size-s);
                                }
                            }
                        }
                    }
                }
            }
        }
        .header-right{
            gap: $font-size-xl;
            padding:0 1.25rem;
            >.button-1{
                @include dflex(none,center,center);
                >.button-1_svg{
                    @include dflex(none,center,center);
                    margin: 0px 0.375rem 0px 0px;
                    >.svg1{
                        @include svg($font-color-main,$font-size-ml);
                    }
                    >.svg2{
                        @include svg($font-color-main,1.25rem);
                    }
                }
                //>.button-1_txt{}
            }
            >.button-2{
                @include dflex(none,center,center);
                border: none;
                background: none;
                >.button-2_svg{
                    margin: 0px 0.375rem 0px 0px;
                    @include dflex(none,center,center);
                    svg{
                        @include svg($font-color-main,$font-size-ml);
                    }
                }
                //>.button-2_txt{}
            }
            >.button-3{
                .button-3_img{
                    picture{
                        @include dflex(none,center,center);
                        //source{}
                        //img{}
                    }
                }
            }
        }
    }
    .nav-ftr{
        .nav-ftr-1{
            @include dflex(none,center,center);
            height: 2.75rem;
            border-bottom: 1px solid rgb(218, 218, 218);
            background-color: $color-white;
            .footer{
                >.button-a{
                    gap: 0;
                    padding: 0.75rem;
                    border: none;
                    background-color: $color-white;
                    //cursor: pointer;
                    >.button-a_svg1{
                        @include dflex(none,center,center);
                        margin-right: 0.375rem;
                        >svg{
                            @include svg($font-color-main,$font-size-m);
                        }
                    }
                    >.button-a_txt{
                        margin-right: 0.375rem;
                    }
                    >.button-a_svg2{
                        margin-right: 0.375rem;
                        @include dflex(none,center,center);
                        >svg{
                            @include svg($font-color-main,$font-size-xs);
                        }
                    }
                }
                >.button-b{
                    gap: 0;
                    >.button-b_svg{
                        margin-right: 0.375rem;
                        @include dflex(none,center,center);
                        >svg{
                            @include svg($font-color-main,$font-size-ml);
                    }
                    >.button-b_txt{
                        margin-right: 0.375rem;
                    }
                    }
                }
            }
        }
    }
}