/* font sizing */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* variables */
:root {
  /* color types: */
  --color-button: rgb(230, 0, 18);
  --hover-color-button: rgb(172, 0, 13);
  --font-color-main: rgb(72, 72, 72);
  --color-white: rgb(255, 255, 255);
  --carrousel-arrow-background-color: rgba(72, 72, 72, 0.234);
  --carrousel-arrow-hover-color: rgba(72, 72, 72, 0.543);
  /* font sizing: */
  --font-size-xs: 0.75rem;
  --font-size-s: 0.975rem;
  --font-size-m: 1rem;
  --font-size-ml: 1.125rem;
  --font-size-l: 1.3125rem;
  --font-size-xl: 1.75rem;
}

html,
body {
  height: 100vh;
  width: auto;
  padding: 0px;
  margin: 0px;
  /* color: --font-color-main; */
  font-family: "Montserrat", "-apple-system", "BlinkMacSystemFont", "sans-serif";
  font-size: 16px;
  line-height: 1.4;
  /* background: --font-color-main; */
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-weight: 700;
  letter-spacing: 0px;
  margin: 0px 0px 1em;
  padding: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  text-decoration: none;
}

section.main-container_div {
  position: relative;
  /* @media queries 2rem */
  padding-top: 3rem;
  /* @media queries 2rem */
  padding-bottom: 3rem;
  width: 100%;
  scroll-margin-top: 120px;
}
section.main-container_div div.dimensions-container_div {
  /* @media queries max-width: 96%; margin-left: auto; margin-right: auto; */
  max-width: 71.5rem;
  margin-left: auto;
  margin-right: auto;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a {
  display: grid;
  justify-items: start;
  grid-template-columns: repeat(1, 1fr);
  /* @media queries gap: 1.5rem; */
  gap: 2rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a h2.letters_news-content {
  color: var(--font-color-main);
  font-weight: 700;
  margin-block: 0;
  line-height: 1.35;
  /* @media queries font-size: var(--font-size-l); */
  font-size: var(--font-size-xl);
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* @media queries gap: 1.5rem; */
  gap: 2rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.grid-item_bigcard1 {
  display: grid;
  grid-column: 1/3;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.grid-item_bigcard1 div.flex-container_a-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  background-color: var(--font-color-main);
  border-radius: 0.25rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.grid-item_bigcard1 div.flex-container_a-div a.flex-item_2div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--font-color-main);
  position: relative;
  margin-top: 0px;
  border-radius: 0.25rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.grid-item_bigcard1 div.flex-container_a-div a.flex-item_2div div.container-mkt-tour_img {
  width: 100%;
  height: 50%;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  overflow: hidden;
  flex-shrink: 0;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.grid-item_bigcard1 div.flex-container_a-div a.flex-item_2div div.container-mkt-tour_img img.avif-content {
  width: 100%;
  height: 100%;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.grid-item_bigcard1 div.flex-container_a-div a.flex-item_2div div.container_div {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding-top: 1rem;
  position: relative;
  flex-grow: 1;
  background-color: var(--color-white);
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.grid-item_bigcard1 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* p.letters_article-content {
      font-size: 0.875rem;
      font-weight: 500;
      margin: 0rem 0rem 0.5rem 0rem;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: calc(1.4 * 2em);
    } */
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.grid-item_bigcard1 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div p.period-date {
  /* @media queries (min-width: 429px;) { font-size: 1rem; margin: 0rem 0rem 1rem; } */
  font-size: var(--font-size-s);
  font-weight: 300;
  margin: 0rem 0rem 0.5rem 0rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.grid-item_bigcard1 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div div.container_h3 {
  -webkit-text-decoration: none;
  text-decoration: none;
  display: block;
  position: relative;
  margin-bottom: 0.5rem;
  height: 4rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.grid-item_bigcard1 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div div.container_h3 h3.letters_info-content {
  /* @ media queries (mind-width: 429px) { font-size: --font-size-ml; margin: 0; } */
  font-size: var(--font-size-m);
  font-weight: 700;
  margin: 0;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.grid-item_bigcard1 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div div.grid-container_span {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 0.5rem;
  height: 1.5rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.grid-item_bigcard1 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div div.grid-container_span span.read-more {
  text-align: left;
  color: var(--color-button);
  padding: 0px;
  width: -moz-fit-content;
  width: fit-content;
  /* @ media queries (min-width: 429px) {font-size: var(--font-size-m);} */
  font-size: var(--font-size-s);
  font-weight: 700;
  cursor: pointer;
  padding-bottom: 0;
  position: relative;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-button);
  margin: 0;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.grid-item_bigcard1 div.flex-container_a-div div.flex-container_empty {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  transition: opacity 200ms ease-in-out 0ms;
  opacity: 0;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 5;
  pointer-events: none;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.grid-item_bigcard2 {
  display: grid;
  grid-column: 3/5;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.grid-item_bigcard2 div.flex-container_a-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  background-color: var(--font-color-main);
  border-radius: 0.25rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.grid-item_bigcard2 div.flex-container_a-div a.flex-item_2div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--font-color-main);
  position: relative;
  margin-top: 0px;
  border-radius: 0.25rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.grid-item_bigcard2 div.flex-container_a-div a.flex-item_2div div.container-mkt-tour_img {
  width: 100%;
  height: 50%;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  overflow: hidden;
  flex-shrink: 0;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.grid-item_bigcard2 div.flex-container_a-div a.flex-item_2div div.container-mkt-tour_img img.avif-content {
  width: 100%;
  height: 100%;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.grid-item_bigcard2 div.flex-container_a-div a.flex-item_2div div.container_div {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding-top: 1rem;
  position: relative;
  flex-grow: 1;
  background-color: var(--color-white);
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.grid-item_bigcard2 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* p.letters_article-content {
      font-size: 0.875rem;
      font-weight: 500;
      margin: 0rem 0rem 0.5rem 0rem;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: calc(1.4 * 2em);
    } */
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.grid-item_bigcard2 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div p.period-date {
  /* @media queries (min-width: 429px;) { font-size: 1rem; margin: 0rem 0rem 1rem; } */
  font-size: var(--font-size-s);
  font-weight: 300;
  margin: 0rem 0rem 0.5rem 0rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.grid-item_bigcard2 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div div.container_h3 {
  -webkit-text-decoration: none;
  text-decoration: none;
  display: block;
  position: relative;
  margin-bottom: 0.5rem;
  height: 4rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.grid-item_bigcard2 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div div.container_h3 h3.letters_info-content {
  /* @ media queries (mind-width: 429px) { font-size: var(--font-size-ml); margin: 0; } */
  font-size: var(--font-size-m);
  font-weight: 700;
  margin: 0;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.grid-item_bigcard2 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div div.grid-container_span {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 0.5rem;
  height: 1.5rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.grid-item_bigcard2 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div div.grid-container_span span.read-more {
  text-align: left;
  color: var(--color-button);
  padding: 0px;
  width: -moz-fit-content;
  width: fit-content;
  /* @ media queries (min-width: 429px) {font-size: var(--font-size-m);} */
  font-size: var(--font-size-s);
  font-weight: 700;
  cursor: pointer;
  padding-bottom: 0;
  position: relative;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-button);
  margin: 0;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.grid-item_bigcard2 div.flex-container_a-div div.flex-container_empty {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  transition: opacity 200ms ease-in-out 0ms;
  opacity: 0;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 5;
  pointer-events: none;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard3 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  border-radius: 0.25rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard3 div.flex-container_a-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  background-color: var(--font-color-main);
  border-radius: 0.25rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard3 div.flex-container_a-div a.flex-item_2div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--font-color-main);
  position: relative;
  margin-top: 0px;
  border-radius: 0.25rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard3 div.flex-container_a-div a.flex-item_2div div.container-mkt-tour_img {
  width: 100%;
  height: 47%;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  overflow: hidden;
  flex-shrink: 0;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard3 div.flex-container_a-div a.flex-item_2div div.container-mkt-tour_img img.avif-content {
  width: 100%;
  height: 100%;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard3 div.flex-container_a-div a.flex-item_2div div.container_div {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding-top: 1rem;
  position: relative;
  flex-grow: 1;
  background-color: var(--color-white);
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard3 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* p.letters_article-content {
      font-size: 0.875rem;
      font-weight: 500;
      margin: 0rem 0rem 0.5rem 0rem;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: calc(1.4 * 2em);
    } */
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard3 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div p.period-date {
  /* @media queries (min-width: 429px;) { font-size: 1rem; margin: 0rem 0rem 1rem; } */
  font-size: var(--font-size-s);
  font-weight: 300;
  margin: 0rem 0rem 0.5rem 0rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard3 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div div.container_h3 {
  -webkit-text-decoration: none;
  text-decoration: none;
  display: block;
  position: relative;
  margin-bottom: 0.5rem;
  height: 4rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard3 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div div.container_h3 h3.letters_info-content {
  /* @ media queries (mind-width: 429px) { font-size: var(--font-size-ml); margin: 0; } */
  font-size: var(--font-size-m);
  font-weight: 700;
  margin: 0;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard3 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div div.grid-container_span {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 0.5rem;
  height: 1.5rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard3 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div div.grid-container_span span.read-more {
  text-align: left;
  color: var(--color-button);
  padding: 0px;
  width: -moz-fit-content;
  width: fit-content;
  /* @ media queries (min-width: 429px) {font-size: var(--font-size-m);} */
  font-size: var(--font-size-s);
  font-weight: 700;
  cursor: pointer;
  padding-bottom: 0;
  position: relative;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-button);
  margin: 0;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard3 div.flex-container_a-div div.flex-container_empty {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  transition: opacity 200ms ease-in-out 0ms;
  opacity: 0;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 5;
  pointer-events: none;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard4 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  border-radius: 0.25rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard4 div.flex-container_a-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  background-color: var(--font-color-main);
  border-radius: 0.25rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard4 div.flex-container_a-div a.flex-item_2div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--font-color-main);
  position: relative;
  margin-top: 0px;
  border-radius: 0.25rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard4 div.flex-container_a-div a.flex-item_2div div.container-mkt-tour_img {
  width: 100%;
  height: 47%;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  overflow: hidden;
  flex-shrink: 0;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard4 div.flex-container_a-div a.flex-item_2div div.container-mkt-tour_img img.avif-content {
  width: 100%;
  height: 100%;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard4 div.flex-container_a-div a.flex-item_2div div.container_div {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding-top: 1rem;
  position: relative;
  flex-grow: 1;
  background-color: var(--color-white);
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard4 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* p.letters_article-content {
      font-size: 0.875rem;
      font-weight: 500;
      margin: 0rem 0rem 0.5rem 0rem;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: calc(1.4 * 2em);
    } */
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard4 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div p.period-date {
  /* @media queries (min-width: 429px;) { font-size: 1rem; margin: 0rem 0rem 1rem; } */
  font-size: var(--font-size-s);
  font-weight: 300;
  margin: 0rem 0rem 0.5rem 0rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard4 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div div.container_h3 {
  -webkit-text-decoration: none;
  text-decoration: none;
  display: block;
  position: relative;
  margin-bottom: 0.5rem;
  height: 4rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard4 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div div.container_h3 h3.letters_info-content {
  /* @ media queries (mind-width: 429px) { font-size: var(--font-size-ml); margin: 0; } */
  font-size: var(--font-size-m);
  font-weight: 700;
  margin: 0;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard4 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div div.grid-container_span {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 0.5rem;
  height: 1.5rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard4 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div div.grid-container_span span.read-more {
  text-align: left;
  color: var(--color-button);
  padding: 0px;
  width: -moz-fit-content;
  width: fit-content;
  /* @ media queries (min-width: 429px) {font-size: var(--font-size-m);} */
  font-size: var(--font-size-s);
  font-weight: 700;
  cursor: pointer;
  padding-bottom: 0;
  position: relative;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-button);
  margin: 0;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard4 div.flex-container_a-div div.flex-container_empty {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  transition: opacity 200ms ease-in-out 0ms;
  opacity: 0;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 5;
  pointer-events: none;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard5 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  border-radius: 0.25rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard5 div.flex-container_a-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  background-color: var(--font-color-main);
  border-radius: 0.25rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard5 div.flex-container_a-div a.flex-item_2div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--font-color-main);
  position: relative;
  margin-top: 0px;
  border-radius: 0.25rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard5 div.flex-container_a-div a.flex-item_2div div.container-mkt-tour_img {
  width: 100%;
  height: 47%;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  overflow: hidden;
  flex-shrink: 0;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard5 div.flex-container_a-div a.flex-item_2div div.container-mkt-tour_img img.avif-content {
  width: 100%;
  height: 100%;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard5 div.flex-container_a-div a.flex-item_2div div.container_div {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding-top: 1rem;
  position: relative;
  flex-grow: 1;
  background-color: var(--color-white);
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard5 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* p.letters_article-content {
      font-size: 0.875rem;
      font-weight: 500;
      margin: 0rem 0rem 0.5rem 0rem;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: calc(1.4 * 2em);
    } */
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard5 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div p.period-date {
  /* @media queries (min-width: 429px;) { font-size: 1rem; margin: 0rem 0rem 1rem; } */
  font-size: var(--font-size-s);
  font-weight: 300;
  margin: 0rem 0rem 0.5rem 0rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard5 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div div.container_h3 {
  -webkit-text-decoration: none;
  text-decoration: none;
  display: block;
  position: relative;
  margin-bottom: 0.5rem;
  height: 4rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard5 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div div.container_h3 h3.letters_info-content {
  /* @ media queries (mind-width: 429px) { font-size: var(--font-size-ml); margin: 0; } */
  font-size: var(--font-size-m);
  font-weight: 700;
  margin: 0;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard5 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div div.grid-container_span {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 0.5rem;
  height: 1.5rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard5 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div div.grid-container_span span.read-more {
  text-align: left;
  color: var(--color-button);
  padding: 0px;
  width: -moz-fit-content;
  width: fit-content;
  /* @ media queries (min-width: 429px) {font-size: var(--font-size-m);} */
  font-size: var(--font-size-s);
  font-weight: 700;
  cursor: pointer;
  padding-bottom: 0;
  position: relative;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-button);
  margin: 0;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard5 div.flex-container_a-div div.flex-container_empty {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  transition: opacity 200ms ease-in-out 0ms;
  opacity: 0;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 5;
  pointer-events: none;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard6 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  border-radius: 0.25rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard6 div.flex-container_a-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  background-color: var(--font-color-main);
  border-radius: 0.25rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard6 div.flex-container_a-div a.flex-item_2div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--font-color-main);
  position: relative;
  margin-top: 0px;
  border-radius: 0.25rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard6 div.flex-container_a-div a.flex-item_2div div.container-mkt-tour_img {
  width: 100%;
  height: 47%;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  overflow: hidden;
  flex-shrink: 0;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard6 div.flex-container_a-div a.flex-item_2div div.container-mkt-tour_img img.avif-content {
  width: 100%;
  height: 100%;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard6 div.flex-container_a-div a.flex-item_2div div.container_div {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding-top: 1rem;
  position: relative;
  flex-grow: 1;
  background-color: var(--color-white);
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard6 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* p.letters_article-content {
      font-size: 0.875rem;
      font-weight: 500;
      margin: 0rem 0rem 0.5rem 0rem;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: calc(1.4 * 2em);
    } */
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard6 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div p.period-date {
  /* @media queries (min-width: 429px;) { font-size: 1rem; margin: 0rem 0rem 1rem; } */
  font-size: var(--font-size-s);
  font-weight: 300;
  margin: 0rem 0rem 0.5rem 0rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard6 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div div.container_h3 {
  -webkit-text-decoration: none;
  text-decoration: none;
  display: block;
  position: relative;
  margin-bottom: 0.5rem;
  height: 4rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard6 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div div.container_h3 h3.letters_info-content {
  /* @ media queries (mind-width: 429px) { font-size: var(--font-size-ml); margin: 0; } */
  font-size: var(--font-size-m);
  font-weight: 700;
  margin: 0;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard6 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div div.grid-container_span {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 0.5rem;
  height: 1.5rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard6 div.flex-container_a-div a.flex-item_2div div.container_div div.flex-container_p-div-p-div div.grid-container_span span.read-more {
  text-align: left;
  color: var(--color-button);
  padding: 0px;
  width: -moz-fit-content;
  width: fit-content;
  /* @ media queries (min-width: 429px) {font-size: var(--font-size-m);} */
  font-size: var(--font-size-s);
  font-weight: 700;
  cursor: pointer;
  padding-bottom: 0;
  position: relative;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-button);
  margin: 0;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard6 div.flex-container_a-div div.flex-container_empty {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  transition: opacity 200ms ease-in-out 0ms;
  opacity: 0;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 5;
  pointer-events: none;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a a.flex-container_div-img-span {
  /* @media queries font-size: 1rem; width: 100%; */
  position: relative;
  margin: 0px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 3rem;
  cursor: pointer;
  font-weight: 700;
  font-size: var(--font-size-m);
  white-space: nowrap;
  border: unset;
  padding: 0px 1.5rem;
  width: auto;
  color: var(--color-white);
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a a.flex-container_div-img-span div.button_color {
  position: absolute;
  box-sizing: content-box;
  display: block;
  content: "";
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-button);
  background-color: var(--color-button);
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  top: 0px;
  left: 0px;
  padding: 0px;
  border-radius: 0.25rem;
  transform: none;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a a.flex-container_div-img-span div.button_color:hover {
  animation: spring 0.8s;
  background-color: var(--hover-color-button);
  border-color: var(--hover-color-button);
}
@keyframes spring {
  10% {
    background-color: var(--hover-color-button);
    transform: scale(1.01);
    border-color: var(--hover-color-button);
  }
  25% {
    background-color: var(--hover-color-button);
    transform: scale(1.04);
    border-color: var(--hover-color-button);
  }
  35% {
    background-color: var(--hover-color-button);
    transform: scale(1.01);
    border-color: var(--hover-color-button);
  }
  45% {
    background-color: var(--hover-color-button);
    border-color: var(--hover-color-button);
  }
  55% {
    background-color: var(--hover-color-button);
    transform: scale(1.04);
    border-color: var(--hover-color-button);
  }
  65% {
    background-color: var(--hover-color-button);
    border-color: var(--hover-color-button);
  }
  100% {
    background-color: var(--hover-color-button);
    border-color: var(--hover-color-button);
  }
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a a.flex-container_div-img-span div.button_color:active {
  transform: scale(1);
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a a.flex-container_div-img-span img.svg_info-icon {
  display: flex;
  width: auto;
  /* @media queries height: 1.125rem; */
  height: 1.25rem;
  z-index: 1;
  margin-left: 0px;
  margin-right: 1rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a a.flex-container_div-img-span span.letters_enter-to-other-article {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  z-index: 1;
  color: var(--color-white);
  pointer-events: none;
}

@media (hover: hover) {
  .flex-container_a-div:hover h3.letters_info-content {
    color: var(--color-button);
  }
  .flex-container_a-div:hover div.container-mkt-tour_img {
    opacity: 0.3;
    transition: 0.3s;
  }
  .flex-container_a-div:hover .hovered {
    color: var(--hover-color-button) !important;
    border-bottom-color: var(--hover-color-button) !important;
  }
}
html,
body {
  color: rgb(72, 72, 72);
}

a {
  text-decoration: none;
  color: inherit;
}

.dsp-flx {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.fnt {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  color: rgb(72, 72, 72);
}

.nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;
}
.nav > .nav-header {
  display: flex;
  flex-direction: none;
  align-items: center;
  justify-content: space-between;
  gap: none;
  height: 3.25rem;
  border-bottom: 1px solid rgb(218, 218, 218);
  background-color: rgb(255, 255, 255);
}
.nav > .nav-header > .header-left > .logo {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
}
.nav > .nav-header > .header-left > .logo > .logo-1 {
  display: flex;
  flex-direction: none;
  align-items: center;
  justify-content: center;
  gap: none;
  width: 6.5625rem;
  height: 3.25rem;
  background-color: rgb(230, 0, 18);
}
.nav > .nav-header > .header-left > .logo > .logo-1 > .logo-1_svg {
  fill: rgb(255, 255, 255);
  width: 4.31rem;
}
.nav > .nav-header > .header-left > .src {
  width: 28.125rem;
}
.nav > .nav-header > .header-left > .src > .frm {
  display: flex;
  flex-direction: none;
  align-items: center;
  justify-content: space-between;
  gap: none;
  height: 2.125rem;
  width: 100%;
  font-size: 0.875rem;
  border-bottom: 1px solid rgb(72, 72, 72);
  cursor: pointer;
}
.nav > .nav-header > .header-left > .src > .frm > .frm-1 {
  display: flex;
}
.nav > .nav-header > .header-left > .src > .frm > .frm-1 > .frm-1_button {
  display: flex;
  flex-direction: none;
  align-items: center;
  justify-content: center;
  gap: none;
  height: 100%;
  width: 100%;
  padding: 0px;
  background: none;
  border: none;
  color: rgb(114, 114, 114);
  cursor: pointer;
  transition: color 200ms ease-in-out 25ms;
}
.nav > .nav-header > .header-left > .src > .frm > .frm-1 > .frm-1_button > svg {
  margin-right: 0.625rem;
  fill: rgb(72, 72, 72);
  width: 1.12rem;
}
.nav > .nav-header > .header-left > .src > .frm > .frm-1 > .frm-1_button > span {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: none;
  font-weight: none;
  color: rgb(114, 114, 114);
  line-height: 1.5;
}
.nav > .nav-header > .header-left > .src > .frm > .frm-1:hover > .frm-1_button > svg {
  fill: rgb(230, 0, 18);
}
.nav > .nav-header > .header-left > .src > .frm > .frm-1:hover > .frm-1_button > span {
  color: rgb(230, 0, 18);
}
.nav > .nav-header > .header-left > .src > .frm > .frm-2 > .ctgrs {
  display: flex;
  flex-direction: none;
  align-items: center;
  justify-content: center;
  gap: none;
  padding-right: 0.75rem;
}
.nav > .nav-header > .header-left > .src > .frm > .frm-2 > .ctgrs > .ctgrs-slct > .ctgrs-slct_select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  color: inherit;
}
.nav > .nav-header > .header-left > .src > .frm > .frm-2 > .ctgrs > .ctgrs-svg {
  display: flex;
  flex-direction: none;
  align-items: center;
  justify-content: space-between;
  gap: none;
}
.nav > .nav-header > .header-left > .src > .frm > .frm-2 > .ctgrs > .ctgrs-svg svg {
  fill: rgb(72, 72, 72);
  width: 0.875rem;
}
.nav > .nav-header > .header-left > .src > .frm > .frm-2:hover > .ctgrs > .ctgrs-slct {
  color: rgb(230, 0, 18);
}
.nav > .nav-header > .header-left > .src > .frm > .frm-2:hover > .ctgrs > .ctgrs-slct > .ctgrs-slct_select option {
  color: rgb(72, 72, 72);
}
.nav > .nav-header > .header-left > .src > .frm > .frm-2:hover > .ctgrs > .ctgrs-svg svg {
  fill: rgb(230, 0, 18);
  transform: rotate(-180deg);
  transition: 200ms ease-in-out 25ms;
}
.nav > .nav-header > .header-left > .src > .frm:hover {
  border-bottom: 1px solid rgb(230, 0, 18);
  transition: border-bottom 200ms ease-in-out 25ms;
}
.nav > .nav-header .header-right {
  gap: 1.75rem;
  padding: 0 1.25rem;
}
.nav > .nav-header .header-right > .button-1 {
  cursor: pointer;
  display: flex;
  flex-direction: none;
  align-items: center;
  justify-content: center;
  gap: none;
}
.nav > .nav-header .header-right > .button-1 > .button-1_svg {
  display: flex;
  flex-direction: none;
  align-items: center;
  justify-content: center;
  gap: none;
  margin: 0px 0.375rem 0px 0px;
}
.nav > .nav-header .header-right > .button-1 > .button-1_svg > .svg1 {
  fill: rgb(72, 72, 72);
  width: 1.125rem;
}
.nav > .nav-header .header-right > .button-1 > .button-1_svg > .svg2 {
  fill: rgb(72, 72, 72);
  width: 1.25rem;
}
.nav > .nav-header .header-right > .button-1:hover > .button-1_svg > .svg1 {
  fill: rgb(230, 0, 18);
}
.nav > .nav-header .header-right > .button-1:hover > .button-1_svg > .svg2 {
  fill: rgb(230, 0, 18);
}
.nav > .nav-header .header-right > .button-1:hover > .button-1_txt {
  color: rgb(230, 0, 18);
}
.nav > .nav-header .header-right > .button-2 {
  cursor: pointer;
  display: flex;
  flex-direction: none;
  align-items: center;
  justify-content: center;
  gap: none;
  border: none;
  background: none;
}
.nav > .nav-header .header-right > .button-2 > .button-2_svg {
  margin: 0px 0.375rem 0px 0px;
  display: flex;
  flex-direction: none;
  align-items: center;
  justify-content: center;
  gap: none;
}
.nav > .nav-header .header-right > .button-2 > .button-2_svg svg {
  fill: rgb(72, 72, 72);
  width: 1.125rem;
}
.nav > .nav-header .header-right > .button-2:hover > .button-2_svg svg {
  fill: rgb(230, 0, 18);
}
.nav > .nav-header .header-right > .button-2:hover > .button-2_txt {
  color: rgb(230, 0, 18);
}
.nav > .nav-header .header-right > .button-3 .button-3_img picture {
  display: flex;
  flex-direction: none;
  align-items: center;
  justify-content: center;
  gap: none;
}
.nav .nav-ftr .nav-ftr-1 {
  display: flex;
  flex-direction: none;
  align-items: center;
  justify-content: center;
  gap: none;
  height: 2.75rem;
  border-bottom: 1px solid rgb(218, 218, 218);
  background-color: rgb(255, 255, 255);
}
.nav .nav-ftr .nav-ftr-1 .footer > .button-a {
  gap: 0;
  padding: 0.75rem;
  border: none;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.nav .nav-ftr .nav-ftr-1 .footer > .button-a > .button-a_svg1 {
  display: flex;
  flex-direction: none;
  align-items: center;
  justify-content: center;
  gap: none;
  margin-right: 0.375rem;
}
.nav .nav-ftr .nav-ftr-1 .footer > .button-a > .button-a_svg1 > svg {
  fill: rgb(72, 72, 72);
  width: 1rem;
}
.nav .nav-ftr .nav-ftr-1 .footer > .button-a > .button-a_txt {
  margin-right: 0.375rem;
}
.nav .nav-ftr .nav-ftr-1 .footer > .button-a > .button-a_svg2 {
  margin-right: 0.375rem;
  display: flex;
  flex-direction: none;
  align-items: center;
  justify-content: center;
  gap: none;
}
.nav .nav-ftr .nav-ftr-1 .footer > .button-a > .button-a_svg2 > svg {
  fill: rgb(72, 72, 72);
  width: 0.75rem;
}
.nav .nav-ftr .nav-ftr-1 .footer > .button-a:hover > .button-a_svg1 > svg {
  fill: rgb(230, 0, 18);
}
.nav .nav-ftr .nav-ftr-1 .footer > .button-a:hover > .button-a_txt {
  color: rgb(230, 0, 18);
}
.nav .nav-ftr .nav-ftr-1 .footer > .button-a:hover > .button-a_svg2 > svg {
  fill: rgb(230, 0, 18);
}
.nav .nav-ftr .nav-ftr-1 .footer > .button-b {
  gap: 0;
  cursor: pointer;
}
.nav .nav-ftr .nav-ftr-1 .footer > .button-b > .button-b_svg {
  margin-right: 0.375rem;
  display: flex;
  flex-direction: none;
  align-items: center;
  justify-content: center;
  gap: none;
}
.nav .nav-ftr .nav-ftr-1 .footer > .button-b > .button-b_svg > svg {
  fill: rgb(72, 72, 72);
  width: 1.125rem;
}
.nav .nav-ftr .nav-ftr-1 .footer > .button-b > .button-b_svg > .button-b_txt {
  margin-right: 0.375rem;
}
.nav .nav-ftr .nav-ftr-1 .footer > .button-b:hover > .button-b_svg svg {
  fill: rgb(230, 0, 18);
}
.nav .nav-ftr .nav-ftr-1 .footer > .button-b:hover > .button-b_txt {
  color: rgb(230, 0, 18);
}/*# sourceMappingURL=style.css.map */