@charset "UTF-8";
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* Use variables created with var() */
  --color-button: rgb(230, 0, 18);
  --hover-color-button: rgb(172, 0, 13);
  --font-color-main: rgb(72, 72, 72);
  --color-white: rgb(255, 255, 255);
  --carrousel-arrow-background-color: rgba(72, 72, 72, 0.234);
  --carrousel-arrow-hover-color: rgba(72, 72, 72, 0.543);
  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-ml: 1.125rem;
  --font-size-l: 1.3125rem;
  --font-size-xl: 1.75rem;
}

html,
body {
  height: 100vh;
  width: auto;
  padding: 0px;
  margin: 0px;
  color: var(--background-color-main);
  font-family: "Montserrat", "-apple-system", "BlinkMacSystemFont", "sans-serif";
  font-size: 16px;
  line-height: 1.4;
  background: var(--background-color-main);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-weight: 700;
  letter-spacing: 0px;
  margin: 0px 0px 1em;
  padding: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  text-decoration: none;
}

/* Sección relacionada a las cards grandes y pequeñas */
section.main-container_div {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
  scroll-margin-top: 120px;
}
section.main-container_div div.dimensions-container_div {
  max-width: 71.5rem;
  margin-left: auto;
  margin-right: auto;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a {
  display: grid;
  justify-items: start;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a h2.letters_news-content {
  font-weight: 700;
  margin-block: 0;
  line-height: 1.35;
  font-size: var(--font-size-xl);
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.grid-item_bigcard1 {
  display: grid;
  grid-column: 1/3;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.grid-item_bigcard2 {
  display: grid;
  grid-column: 3/5;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard3 {
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: flex-end;
  position: relative;
  border-radius: 0.25rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard4 {
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: flex-end;
  position: relative;
  border-radius: 0.25rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard5 {
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: flex-end;
  position: relative;
  border-radius: 0.25rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a div.grid-items-container_6div div.flex-item_minicard6 {
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: flex-end;
  position: relative;
  border-radius: 0.25rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a a.link-container_div-img-span {
  position: relative;
  margin: 0px;
  background-color: transparent;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  height: 3rem;
  cursor: pointer;
  font-weight: 700;
  font-size: var(--font-size-ml);
  white-space: nowrap;
  border: unset;
  padding: 0px 1.5rem;
  width: auto;
  color: rgb(255, 255, 255);
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a a.link-container_div-img-span div.button_color {
  position: absolute;
  box-sizing: content-box;
  display: block;
  content: "";
  border-width: 1px;
  border-style: solid;
  border-color: rgb(230, 0, 18);
  background-color: rgb(230, 0, 18);
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  top: 0px;
  left: 0px;
  padding: 0px;
  border-radius: 0.25rem;
  transform: none;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a a.link-container_div-img-span div.button_color:hover {
  animation: spring 1s;
  background-color: var(--hover-color-button);
}
@keyframes spring {
  10% {
    background-color: var(--hover-color-button);
    transform: scale(1);
  }
  25% {
    background-color: var(--hover-color-button);
    box-shadow: none;
  }
  35% {
    background-color: var(--hover-color-button);
    transform: scale(0.9);
  }
  45% {
    background-color: var(--hover-color-button);
    box-shadow: none;
  }
  55% {
    background-color: var(--hover-color-button);
    transform: scale(1);
  }
  65% {
    background-color: var(--hover-color-button);
    box-shadow: none;
  }
  100% {
    background-color: var(--hover-color-button);
    transform: scale(0.9);
  }
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a a.link-container_div-img-span div.button_color:active {
  transform: scale(1);
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a a.link-container_div-img-span img.svg_info-icon {
  display: flex;
  width: auto;
  height: 1.25rem;
  z-index: 1;
  margin-left: 0px;
  margin-right: 1rem;
}
section.main-container_div div.dimensions-container_div div.grid-container_h2-div-a a.link-container_div-img-span span.letters_enter-to-other-article {
  display: flex;
  font-size: 14px;
  font-weight: bold;
  color: var(--color-white);
}

/*# sourceMappingURL=style.css.map */
